/*=================
    Navigation
===================*/
#frame {
  position: absolute;

}
#footer {
  background-color: #006747;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 50px;
}
#homeContainer {
  margin-top: 30px;
  padding-top: 20px;
}

#headerText {
  font-size: 4em;
  margin-top: 50px;
  color: #0000;
}

#banner {
  background-color: #3c4981;
  margin-top: -50px;
}
#navigation {
    margin-bottom: 50px;
    background-color: #006747;
}

#navigation .header.item {
    font-size: 24px;
    padding: 10px 25px;
}

#navigation .item {
    color: #fff;
    font-size: 18px;
}

/*=====================
    Available Bikes
=======================*/

table#available_bikes {
    margin-bottom: 25px;
}
