{% extends "layout.html" %}
{% block title %}Admin{% endblock %}
{% block description %}BUBS is Binghamton University's own bike share program.{% endblock %}
{% block content %}
<div class="ui stackable grid container">
    <div class="column">
        <div class="ui message">
            <div class="header">
                Welcome to the admin panel!
            </div>
            <ul class="list">
                <li>I should probably be authenticated, right?</li>
                <li>Some content here would be nice.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
