{% extends "layout.html" %}
{% block title %}Bike Share{% endblock %}
{% block description %}BUBS is Binghamton University's own bike share program.{% endblock %}

{% block content %}
  <div class="pusher">
    <div id="banner" class="ui inverted vertical masthead center aligned segment">
      <h1 id="headerText" class="ui huge header">Binghamton University Bike Share
        <i class="bicycle icon"></i>
      <h1>
    </div>

    <div id="homeContainer" class="ui container">
      <section>
        <img class="ui centered big image" src="static/images/bikesharepic.jpg">
        <h2> Binghamton University Bike Share (BUBS) is BU’s own bike share program. Spread the word to all of your friends!</h2>
      </section>
        <div class="ui divider"></div>
      <section>
        <h1>Hours</h1>
        <h3>Hours are 12:00-8:00 PM.</h3>
      </section>
        <div class="ui divider"></div>
      <section>
        <h1>How it Works?</h1>
        <h3>
          <ol class="ui list">
            <li>Sign out a free bike at the Old Union Info Desk. You will be issued a key with a number on it.</li>
            <li>Walk out of the Union to the front of the Engineering Building.  You will see 2 bike racks under the overhang with our bikes on them.</li>
            <li>Find the bike with the same number found on your key, and unlock it.</li>
            <li>Enjoy your free bike for a maximum of 4 hours. Available times are from 12 pm – 8 pm</li>
            <li>Return the bike to our rack when you are done.  Make sure it is properly locked up.</li>
            <li>Return the key to the Old Union Info Desk and sign the bike back in.</li>
          <ol>
        </h3>
      </section>



  </div>
{% endblock %}
