{% extends "layout.html" %}
{% block title %}Bike Share{% endblock %}
{% block description %}BUBS is Binghamton University's own bike share program.{% endblock %}

{% block content %}
  <div class="pusher">
    <div id="banner" class="ui inverted vertical masthead center aligned segment">
      <h1 id="headerText" class="ui huge header">Binghamton University Bike Share
        <i class="bicycle icon"></i>
      <h1>
    </div>

    <div id="homeContainer" class="ui container">
      <h2> Binghamton University Bike Share (BUBS) is BU’s own bike share program. Spread the word to all of your friends!</h2>
      <img src="statics/images/bikesharepic.jpg">


  </div>
{% endblock %}
