{% extends "layout.html" %}
{% block title %}Available Bikes{% endblock %}
{% block description %}BUBS is Binghamton University's own bike share program.{% endblock %}
{% block content %}
<div class="ui stackable grid container">
    <div class="column">
        <h1 class="ui dividing header">There are {{ bikes.count() }} bikes available:</h1>
        <table id="available_bikes" class="ui green stackable padded table">
            <thead>
                <tr>
                    <th class="three wide">Owner</th>
                    <th class="three wide">Make</th>
                </tr>
            </thead>
            <tbody>
                {% for bike in bikes %}
                <tr>
                    <td>{{ bike.bike.owner }}</td>
                    <td>{{ bike.bike.make }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
