{% extends "layout.html" %}
{% block title %}Bike Share{% endblock %}
{% block description %}BUBS is Binghamton University's own bike share program.{% endblock %}

{% block content %}
<div class="pusher">
    <div class="ui container">
        <div class="ui center aligned segment">
            <h1>
                Binghamton University Bike Share (BUBS) is BU’s own bike share program.
            </h1>
            <h2>
                Spread the word to all of your friends!
            </h2>
        </div>
        <img id="bikes" class="ui centered big image" src="{{ url_for('static', filename='images/bikesharepic.jpg') }}" />
        <div class="ui divider"></div>
        <section class="about">
            <h1>Hours</h1>
            <p>Hours are 12:00-8:00 PM.</p>
        </section>
        <div class="ui divider"></div>
        <section class="about">
            <h1>How it Works?</h1>
            <p>
                <ol class="ui list">
                    <li>
                        Sign out a free bike at the Old Union Info Desk. You will be issued a key with a number on it.
                    </li>
                    <li>
                        Walk out of the Union to the front of the Engineering Building.  You will see 2 bike racks under the overhang with our bikes on them.
                    </li>
                    <li>Find the bike with the same number found on your key, and unlock it.</li>
                    <li>Enjoy your free bike for a maximum of 4 hours. Available times are from 12 pm – 8 pm</li>
                    <li>Return the bike to our rack when you are done.  Make sure it is properly locked up.</li>
                    <li>Return the key to the Old Union Info Desk and sign the bike back in.</li>
                </ol>
            </p>
        </section>
    </div>
</div>
{% endblock %}
