<!doctype html>
<html class="no-js">
<head>
    {% block head %}
    <meta charset="utf-8">
    <title>BUBS | {% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('bower.static', filename='semantic/dist/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}
</head>
<body>
    {% block navigation %}
    <div id="navigation" class="ui large attached inverted menu">
        <div class="header item">BUBS</div>
        <a class="item" href="/home">Home</a>
        <div class="ui floating dropdown link item">
            <span class="text">About</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/policies">Polices</a>
                <a class="item" href="/bikeshare">Bike Share</a>
                <a class="item" href="/projects">Projects</a>
                <a class="item" href="/vision">Vision</a>
            </div>
        </div>
        <a class="item" href="/">Available Bikes</a>
        <a class="item" href="/bikeshop">Bike Shop</a>
    </div>
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
    <div id="footer" class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui horizontal inverted small divided link list">
                <a class="item" href="/home">Home</a>
                <a class="item" href="/bikeshare">Bike Share</a>
                <a class="item" href="/policies">Polices</a>
                <a class="item" href="/projects">Projects</a>
                <a class="item" href="/vision">Vision</a>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block scripts %}
    <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='semantic/dist/semantic.min.js') }}"></script>
    <script>
    $('.ui.dropdown').dropdown();
    </script>
    {% endblock %}
</body>
</html>
