{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block description %}BUBS is Binghamton University's own bike share program.{% endblock %}
{% block content %}
<div class="ui stackable grid container">
  <div class="column">
    <div class="ui message">
      <div class="header">
        Enter your login credentials:
      </div>
      <form action="login" method="POST">
        <input type="text" name="email" id="email" placeholder="email"></input>
        <input type="password" name="pass" id="pass" placeholder="password"></input>
        <input type="submit" name="submit"></input>
      </form>
    </div>
  </div>
</div>
{% endblock %}
