{% extends "layout.html" %}
{% block title %}Policies{% endblock %}
{% block description %}BUBS is Binghamton University's own bike share program.{% endblock %}

{% block content %}
<div class="pusher">
    <div class="ui center aligned segment">
        <h1>Policies</h1>
    </div>
    <div class="ui container">
        <section class="about">
            <p>
                The Bike Share is a free student service available to anyone with a BU ID! With that said, we would like to see it run smoothly and free of abuse! Please follow our policies listed below to keep the Bike Share an exciting, feel-good experience for everyone!
            </p>
            <ul class="ui list">
                <li>
                    <p>
                        <strong>Hours:</strong> The Bike Share hours are from 12 PM – 8 PM everyday. All bikes must be back by 8 PM so our maintenance team can check them for damage and make repairs.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Time Limit:</strong> After signing a bike out, the bike is yours for up to 4 hours! If you would still like to ride the bike, you may sign it out again at the Info Desk. Please understand that all bikes must be back by 8 PM when our program closes for the night!
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Lock it up:</strong> never leave an unlocked bike unattended. If you walk away from the bike, please lock it to a bicycle rack. The lock should go through the bike frame to prevent theft. When you return the bike, please lock it to our rack.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Damage:</strong> If you notice any damage to the bike, please contact us as soon as possible so we can repair it.
                    </p>
                </li>
            </ul>
            <p>Thank you for abiding by our rules. We hope you enjoy our program!</p>
        </section>
    </div>
</div>






{% endblock %}
