{% extends "layout.html" %}
{% block title %}Projects{% endblock %}
{% block description %}BUBS is Binghamton University's own bike share program.{% endblock %}

{% block content %}
<div class="pusher">
    <div class="ui center aligned segment">
        <h1>Projects</h1>
    </div>
    <div class="ui container">
        <section class="about">
            <p>
                The Bike Share Team often takes on various bicycling projects to keep the wheels spinning at Binghamton University!
            </p>
            <p>
                Some projects we are working on include:
            </p>
            <ul class="ui list">
                <li>
                    <p>
                        <strong>Two Rivers Greenway:</strong> Ever want to bike downtown but avoid Vestal Parkway? Ever wish there was a safe way? The Two Rivers GReenway is just that; A fully-protected bicycle path connecting Downtown Binghamton to campus and continuing all the way to Owego! This may sound too good to be true, but over 65% of the path is already complete!
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Pumps around Campus:</strong> As time goes on, tires lose air through tiny pores in the rubber. Students may not have the tools to refill their tires. For some students, a low tire means no more cycling for the semester. Our goal is to attach bike pumps to racks around campus. Currently, two pumps exist: one at the Lecture Hall and one at Fine Arts. Bike Share would like to put a pump in every community!
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Tablets:</strong> Currently, the Bike Share is ran out of a binder. This creates several problems that hold back our program. The biggest one is that we are ready to open more locations, but we need an online system to connect the locations. The Bike Share currently has tablets, bikes, helmets, racks, and student/faculty support. We just need a database! If you or anyone you know would be interested in helping us build a datbase or an app, please reach out to us!
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Electronic Swipe’n’Go:</strong> The final stage of the Bike Share will include a smart rack; one that users can swipe their BU ID and unlock a bike, without any personnel required. We currently have a prototype of such a rack, as well as a Watson Senior Design Project further developing the product! When this rack is ready, the Bike Share will be bigger and better than ever before!
                    </p>
                </li>
            </ul>
        </section>
    </div>
</div>






{% endblock %}
