{% extends "layout.html" %}
{% block title %}Vision{% endblock %}
{% block description %}BUBS is Binghamton University's own bike share program.{% endblock %}

{% block content %}
<div class="pusher">
    <div class="ui center aligned segment">
        <h1>Vision</h1>
    </div>
    <div class="ui container">
        <section class="about">
            <p>
                Our team’s vision is a campus where cycling is an easy, simple, and convenient means of transportation.
            </p>
            <p>
                We envision a Bike Share program where free bikes can be borrowed all over campus. The Bike Share has seen tremendous support from all over campus, with hundreds of hours of use. We hope that our team’s progress means less bikes will rust away outside lecture hall with no one coming back for them.
            </p>
            <p>
                Happy cycling!
            </p>
        </section>
    </div>
</div>
{% endblock %}
